@model IEnumerable<Person>;

@{
    ViewBag.Title = "People";
    Layout = "_Layout";
}

<h2>People</h2>
<table class="table table-bordered">
    <tr class="table-primary">
        <th>Naam</th>
        <th>Adres</th>
        <th>Acties</th>
    </tr>
    @foreach (var person in Model)
    {
        <partial name="PersonPartial" model="person"/>
    }
    
</table>

<a asp-action="Create" class="btn btn-primary">Nieuw</a>